<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/tops"><i class="fa fa-angle-double-right"></i>Tops</a></li>
                    <li><a href="/dress"><i class="fa fa-angle-double-right"></i>Dresses</a></li>
                    <li><a href="/handbags"><i class="fa fa-angle-double-right"></i>Handbags</a></li>
                    <li><a href="/shoes"><i class="fa fa-angle-double-right"></i>Shoes</a></li>
                    <li><a href="/sweaters"><i class="fa fa-angle-double-right"></i>Sweaters</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Social</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.linkedin.com/marissa-campa"><i class="fa fa-angle-double-right"></i>LinkedIn</a></li>
                    <li><a href="https://marissacampa.wixsite.com/website"><i class="fa fa-angle-double-right"></i>Portfolio</a></li>
                    <li><a href="https://twitter.com/marissa_gisel"><i class="fa fa-angle-double-right"></i>Twitter</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Who Are We</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="/admin_add_product"><i class="fa fa-angle-double-right"></i>Add Product</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6"><a class="text-green ml-2" href="#" target="">Neha</a> &copy All
                    Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>
