{% extends "layout.html" %}

{% block title %} Home Page {% endblock %}

{% block navbar %}  
    {% include 'includes/_navbar.html' %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <h2 class="my-4">Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                <a href="/profile?uid={{session.uid}}" class="list-group-item active">Profile</a>
                <a href="/profile?uid={{session.uid}}&orders" class="list-group-item">Order History</a>
            </div>
        </div>
        <div class="col-lg-9">
            {% include 'includes/_flashmsg.html' %}

            <div class="row">
                <div class="card col-lg-6">
                    <div class="card-header">
                        <h5>Username:</h5>
                    </div>
                    <div class="card-body">
                        <h4>{{user.username}}</h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include 'includes/_footer.html' %}
{% endblock %}
